/* Structure CSS */

#indexBody {
  font-family: "Calibri", serif;
  letter-spacing: auto;
}

#container {
  width: 90%;
  height: 500px;
  margin: 100px;
  border: 3px solid cyan;
}

/*
border-radius: 25px;
box-shadow: 0px 15px 10px -15px #111;
*/

#OvalBar1 {
  background-color: azure;
}

/*CLASSES*/

.OvalBar {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 10px 10px 10px 10px black;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}